$color-black: #1b1a1a;
$color-black-faded: #434343;
$color-gray: #c3c3c3;
$color-gray-faded: #c2c2c2;
$color-purple: #6e2b98;

$z-loading: 200;
$z-sidebar: 100;
$z-bg_text: 50;
$z-canvas: 60;
$z-scroll-nav: 80;
$z-mobile-header: 100;
$z-mobile-menu: 90;
$z-description: 150;
$z-main: 70;

$font-size-description: 0.93vw;
$font-size-description-mobile: 4vw;

$breakpoints: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1119px)',
);

@mixin borderText($color: #fff, $size: 2px) {
  text-shadow: $size $size 0 $color, (-$size) $size 0 $color, $size (-$size) 0 $color,
    (-$size) (-$size) 0 $color;
}

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@font-face {
  font-family: 'monument-black';
  src: url(../font/MonumentExtended-Black.ttf);
}

@font-face {
  font-family: 'monument-regular';
  src: url(../font/MonumentExtended-Regular.ttf);
}

html {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: $color-black;
}

.loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  left: 0;
  z-index: $z-loading;
  justify-content: center;
  align-items: center;
  background: $color-black;
  .title {
    position: relative;
    font-size: 24px;
    color: $color-gray;
    padding: 4px;
    font-family: cadogan, sans-serif;
    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $color-black;
      right: 0;
      top: 0;
      content: '';
      animation: show 0.5s linear forwards 0.2s;
    }
  }
}

@keyframes show {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

#canvas {
  position: fixed;
  top: 0;
  z-index: $z-canvas;
  width: 100vw;
  height: 100vh;
}

.side-bar {
  position: absolute;
  left: 0;
  color: $color-gray;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  text-decoration: none;
  font-family: 'monument-regular';
  z-index: $z-sidebar;
  height: 100%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: 34px;
  transform-origin: center;
  transform: rotate(180deg);
  @include mq() {
    display: none;
  }
}

.barcode {
  position: absolute;
  display: inline-block;
  left: 99vw;
  top: 12vh;
  height: 30vh;
  @include mq() {
    display: none;
  }
}

.youtube {
  display: inline;
  position: relative;
  text-decoration: none;
  color: $color-gray-faded;
  font-size: 12px;
  cursor: pointer;
}

.title {
  color: $color-gray-faded;
  font-size: 18px;
  user-select: none;
}

.twitter {
  position: relative;
  display: inline;
  text-decoration: none;
  color: $color-gray-faded;
  font-size: 12px;
  cursor: pointer;
}

.sns-line {
  position: absolute;
  background: $color-gray;
  content: '';
  height: 0;
  width: 1px;
  left: 50%;
  top: 0%;
  transition: height 0.2s ease-in;
  &--show {
    height: 100%;
    transition: height 0.2s ease-out;
  }
}

.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  &__text {
    position: relative;
    width: 72vw;
    height: 75vh;
    z-index: $z-bg_text;
    @include mq() {
      width: 90vw;
    }
  }
}

.nowhere-text {
  position: absolute;
  right: 0;
  user-select: none;
  &--reverse {
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: center;
    transform: rotate(180deg);
    user-select: none;
  }
}

.mobile-header {
  display: none;
  z-index: $z-mobile-header;
  @include mq() {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 7vw;
    left: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
    &__title {
      // display: inline-block;
      font-size: 5vw;
      font-family: 'cadogan';
      color: $color-gray;
    }
    &__button {
      position: relative;
      height: 40px;
      width: 40px;
    }
    .button__line--1 {
      position: absolute;
      display: inline-block;
      width: 40px;
      height: 1px;
      top: 14px;
      transform-origin: center;
      background-color: $color-gray;
    }
    .button__line--2 {
      position: absolute;
      display: inline-block;
      width: 40px;
      height: 1px;
      bottom: 14px;
      transform-origin: center;
      background-color: $color-gray;
    }
  }
}

.mobile-content {
  display: none;
  @include mq() {
    position: fixed;
    display: flex;
    top: 0;
    width: 100vw;
    height: 0;
    z-index: $z-mobile-menu;
    background-color: $color-black;
    align-items: center;
  }
}

.mobile-social-list {
  opacity: 0;
  padding: 7vw;
  &__item {
    font-size: 7vw;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 7vw;
    a {
      color: $color-gray;
      text-decoration: none;
      font-family: 'monument-regular';
    }
  }
}

.main {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  top: 0;
  z-index: $z-main;
}

.jacket-img {
  height: 51vh;
  width: 48vw;
  background: #ffffff;
  opacity: 0;
  @include mq() {
    height: 60vh;
    width: 70vw;
  }
}

.track-jacket {
  position: relative;
}

.page {
  position: absolute;
  display: flex;
  bottom: -36px;
  right: 0;
  font-size: 24px;
  color: $color-gray;
  font-family: 'allumi-std';
  align-items: center;
  @include mq() {
    display: none;
  }
  .page__current {
    height: 24px;
    overflow: hidden;
    display: flex;
  }
  &__current {
    font-size: 0;
  }
  .tens {
    display: block;
    font-size: 24px;
    height: 24px;
    padding: 0;
  }
  &__all {
    height: 24px;
    padding: 0;
  }
  .ones {
    display: block;
    font-size: 24px;
    height: 24px;
    padding: 0;
  }
  .indicator-line {
    height: 1px;
    width: 3.7vw;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    background-color: $color-gray;
  }
}

.track-name {
  display: block;
  // width: auto;
  max-width: 88vw;
  position: absolute;
  @include mq() {
    display: flex;
    // width: 95vw;
    max-width: 100vw;
    justify-content: center;
  }
}

.name-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .name {
    word-break: break-all;
    hyphens: manual;
    color: $color-gray;
    font-family: 'monument-black';
    font-size: 8.3vw;
    @include mq() {
      font-size: 10vw;
    }
  }
}

.name--cursive {
  position: absolute;
  bottom: -1vw;
  left: 0;
  font-family: cadogan, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.1vw;
  color: $color-purple;
  @include mq() {
    font-size: 5.5vw;
    bottom: -3vw;
  }
}

.nowhere-background {
  font-family: 'monument-black';
  color: $color-black;
  font-size: 4.16vw;
  line-height: 0.78em;
  // @include borderText($color-gray-faded, 1px);
  @include borderText($color-gray-faded, 0.5px);
  @include mq() {
    font-size: 4vmax;
    @include borderText($color-gray-faded, 1px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scroll-nav {
  position: absolute;
  bottom: 6.3vh;
  right: 6.8vw;
  z-index: 40;
  width: 7vw;
  height: 7vw;
  max-width: 150px;
  max-height: 150px;
  transform-origin: center;
  animation: rotate 10s infinite linear;
  z-index: $z-scroll-nav;
  @include mq() {
    max-width: auto;
    max-height: auto;
    width: 25vw;
    height: 25vw;
    // bottom: 15vh;
  }
}

.cls-1 {
  font-size: 14px;
  fill: #c2c2c2;
  user-select: none;
  font-family: 'monument-black';
}

.description {
  z-index: $z-description;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  top: 0;
  opacity: 0;
  display: none;
  &__header {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 34px;
    z-index: 50;
    justify-content: space-between;
    align-items: center;
    @include mq() {
      padding: 7vw;
    }
  }
  &__container {
    position: fixed;
    display: flex;
    padding: 14vh 7vw;
    width: 100%;
    height: 100%;
    align-items: center;
    @include mq() {
      padding: 25vw 7vw 5vw 7vw;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;
      overflow: scroll;
      // align-items: center;
    }
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
  }
  &__nav {
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    left: 34px;
    transform-origin: center;
    transform: rotate(180deg);
    z-index: 50;
    user-select: none;
  }
  &__info {
    position: relative;
    flex-grow: 1;
    margin-left: 4vw;
    margin-right: 10%;
    padding-top: 3vh;
    color: $color-gray;
    height: 50vw;
    max-height: 72vmin;
    @include mq() {
      padding-top: 0;
      margin: 13vw 0 0 0;
    }
  }
  &__name-container {
    position: relative;
    color: $color-gray;
    font-family: 'monument-black';
    font-size: 3.5vw;
    margin-top: 0.9vw;
    @include mq() {
      font-size: 9vw;
      margin-top: 2vw;
    }
  }
}

.header {
  &__title {
    font-size: 24px;
    color: $color-gray;
    font-family: 'cadogan';
    @include mq() {
      font-size: 5vw;
    }
  }
  &__close {
    position: relative;
    //  margin-right: 14vh;
    width: 48px;
    height: 48px;
    cursor: pointer;
    @include mq() {
      width: 40px;
      height: 40px;
    }
  }
}

.close__line {
  &--1 {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    top: 50%;
    transform-origin: center;
    transform: rotate(45deg);
    background-color: $color-gray;
    will-change: transform;
    @include mq() {
      height: 1px;
    }
  }
  &--2 {
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    left: 50%;
    transform-origin: center;
    transform: rotate(45deg);
    background-color: $color-gray;
    will-change: transform;
    @include mq() {
      width: 1px;
    }
  }
}

.content {
  width: 100vw;
  height: 100%;
}

.album__text {
  color: $color-gray;
  font-family: 'monument-regular';
  font-size: 18px;
  @include mq() {
    display: none;
  }
}

.album__img {
  position: relative;
  width: 50vw;
  height: 50vw;
  max-height: 72vmin;
  max-width: 72vmin;
  @include mq() {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
  }
}

.img {
  width: 50vw;
  height: 50vw;
  max-height: 72vmin;
  max-width: 72vmin;
  background-position: center;
  background-size: cover;
  background-image: url('https://i.scdn.co/image/ab67616d0000b27381933197343ba91eba034611');
  @include mq() {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
  }
}

.img__page {
  position: absolute;
  right: -2.5vmin;
  bottom: -5vmin;
  color: $color-gray;
  line-height: 80%;
  font-size: 6.3vw;
  font-family: 'monument-regular';
  @include mq() {
    font-size: 18vw;
  }
}

.img__card {
  position: absolute;
  width: 44vmin;
  height: 44vmin;
  right: -3vmin;
  bottom: -5vmin;
  background: $color-purple;
  z-index: -1;
  @include mq() {
    width: 60vmin;
    height: 60vmin;
  }
}

.bg {
  &__img {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: grayscale(100%) blur(10px);
    background-image: url('https://i.scdn.co/image/ab67616d0000b27381933197343ba91eba034611');
    background-position: center;
    background-size: cover;
    margin: -20px;
    &--filter {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.54);
    }
    &__nowhere {
      position: absolute;
    }
  }
  &__black {
    position: fixed;
    right: 0;
    background-color: $color-black;
    width: 80vw;
    height: 100%;
  }
  &__nowhere-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 15vh;
    will-change: transform;
  }
  &__nowhere-item {
    font-size: 16vh;
    color: $color-black;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: 'monument-black';
    @include borderText($color-black-faded, 2px);
    line-height: 95%;
    opacity: 70%;
    transition: color 0.2s linear, text-shadow 0.2s linear;
    &--hover {
      color: $color-black-faded;
    }
  }
}

.info {
  &__number {
    font-size: $font-size-description;
    font-family: 'monument-regular';
    color: $color-gray;
    @include mq() {
      font-size: $font-size-description-mobile;
    }
  }
  &__release-date {
    font-size: $font-size-description;
    margin-top: 1.4vw;
    font-family: 'monument-regular';
    @include mq() {
      margin-top: 3vw;
      font-size: $font-size-description-mobile;
    }
  }
  &__divider {
    width: 100%;
    height: 1px;
    margin-top: 1.4vw;
    background: $color-gray;
    @include mq() {
      margin-top: 3vw;
    }
  }
  &__list {
    margin-top: 2.9vw;
    font-size: $font-size-description;
    font-family: 'monument-regular';
    list-style: none;
    @include mq() {
      font-size: $font-size-description-mobile;
      margin-top: 6vw;
    }
  }
  &__listen {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.2vw;
    font-family: 'monument-regular';
    color: $color-gray;
    @include mq() {
      display: none;
    }
    &--mobile {
      display: none;
      @include mq() {
        display: block;
        bottom: 0;
        color: $color-gray;
        margin-top: 10vw;
        font-size: 7vw;
        font-family: 'monument-regular';
      }
    }
  }
}

.list_item {
  margin-bottom: 0.7vw;
  @include mq() {
    margin-bottom: 2vw;
  }
}

.listen__link {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: $color-gray;
  &--mobile {
    color: $color-gray;
    text-decoration: none;
  }
  .link-line {
    position: absolute;
    cursor: default;
    content: '';
    top: 45%;
    height: 1px;
    width: 7vw;
    left: -7.5vw;
    background-color: $color-gray;
  }
}

.name__main {
  //   z-index: 100;
}
.name__shadow {
  position: absolute;
  top: 1vw;
  left: 0.63vw;
  z-index: -1;
  user-select: none;
  color: #3c3b3b;
}
